@import "blocks/header";

$main-color:#f5f7;
body{
  color: $main-color;
}
div{
  color: red;
  h2{
    color: green;
  }
}
contacts-us{
  color: green;
  &__title{
    color: aqua;
  }
  &__description{
    color: beige;
  }
}
.title{
  font-size: 30px;
  color: red;
}
.subtitle{
  @extend  .title;
  color: green;
}