* {
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 80%;
}
@import "blocks/header";
@import "blocks/main-screen.scss";
@import "blocks/services.scss";
@import "blocks/about-us.scss";
@import "blocks/works.scss";
@import "blocks/call.scss";
@import "blocks/blog.scss";
@import "blocks/clients.scss";
@import "blocks/contact.scss";
@import "blocks/footer.scss";
