<!doctype html>
    html
        head
            link(href="./styles/main.css", rel="stylesheet")
        body
            div
                include sections/header.pug
            div
                include sections/main-screen.pug
            div
                include sections/services.pug
            div
                include sections/about-us.pug
            div
                include sections/works.pug
            div
                include sections/call.pug
            div
                include sections/blog.pug
            div
                include sections/clients.pug
            div
                include sections/contact.pug
            div
                include sections/footer.pug