<!doctype html>
    html
        head
            link(href="./styles/main.css", rel="stylesheet")
        body
            include sections/header.pug
            include sections/main-screen.pug
            include sections/services.pug
            include sections/about-us.pug
            include sections/works.pug
            include sections/call.pug
            include sections/blog.pug
            include sections/clients.pug
            include sections/contact.pug
            include sections/footer.pug