.about-us
 .container.about-us__container
  .about-us__title ABOUT US
  .line
  .about-us__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
  .about-us__content
   .about-us__content-left Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
   .about-us__content-right Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
  .about-us__members
   .about-us__members-bloks
    img.about-us__members-bloks-img(src="../img/member-1.png", alt="")
    .about-us__members-bloks-title Md. Khalil Uddin
    .about-us__members-bloks-description Head of Ideas
   .about-us__members-bloks
    img.about-us__members-bloks-img(src="../img/member-2.png", alt="")
    .about-us__members-bloks-title Rubel Miah
    .about-us__members-bloks-description Lead WordPress Developer
   .about-us__members-bloks
    img.about-us__members-bloks-img(src="../img/member-3.png", alt="")
    .about-us__members-bloks-title Shamim Mia
    .about-us__members-bloks-description Sr. Web Developer
   .about-us__members-bloks
    img.about-us__members-bloks-img(src="../img/member-4.png", alt="")
    .about-us__members-bloks-title John Doe
    .about-us__members-bloks-description Front-end Developer