.blog
 .container.blog__container
  .blog__title RECENT BLOG POSTS
  .line
  .blog__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
  .blog__post
   img.blog_post-img(src="../img/post-1.png", alt="")
   .blog__post-text
    .blog__post-text-title
     img.blog__post-text-title-img(src="../img/date.png", alt="")
     .blog__post-text-title-specification
      .blog__post-text-title-specification-title Startup ideas needs to be funded
      .blog__post-text-title-specification-description By Khalil Uddin in Development
    .blog__post-content Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam
    .blog__post-read Read more
  .blog__post-line
  .blog__post
   img.blog_post-img(src="../img/post-2.png", alt="")
   .blog__post-text
    .blog__post-text-title
     img.blog__post-text-title-img(src="../img/date.png", alt="")
     .blog__post-text-title-specification
      .blog__post-text-title-specification-title Startup ideas needs to be funded
      .blog__post-text-title-specification-description By Khalil Uddin in Development
    .blog__post-content Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam
    .blog__post-read Read more