.clients
 .container
  .clients__logo
   img.clients__logo-img(src="../img/clients-1.png", alt="")
   img.clients__logo-img(src="../img/clients-2.png", alt="")
   img.clients__logo-img(src="../img/clients-3.png", alt="")
   img.clients__logo-img(src="../img/clients-4.png", alt="")
   img.clients__logo-img(src="../img/clients-5.png", alt="")
  .clients__description Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum”
  .clients__title John Doe, Google Inc.
  .clients__slide
   img(src="../img/slide.png", alt="")