.contact
 .container.contact__container
  .contact__title GET IN TOUCH
  .line
  .contact__description We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
  .contact__form
   .contact__form-props
    .contact__form-props-contacts
     .contact__form-props-contacts-title
      img.contact__form-props-contacts-title-img(src="../img/address.png", alt="")
      p.contact__form-props-contacts-title-size ADDRESS
     .contact__form-props-contacts-description 312, 7th Ave, New York
     .contact__form-props-contacts-description NY 101200, United States of America
    .contact__form-props-contacts
     .contact__form-props-contacts-title
      img.contact__form-props-contacts-title-img(src="../img/tel.png", alt="")
      p.contact__form-props-contacts-title-size HOTLINE(24X7)
     .contact__form-props-contacts-description +65 0052 300, +65 88251 210,
     .contact__form-props-contacts-description +88 01723 511 340
    .contact__form-props-contacts
     .contact__form-props-contacts-title
      img.contact__form-props-contacts-title-img(src="../img/e-mail.png", alt="")
      p.contact__form-props-contacts-title-size E-MAIL
     .contact__form-props-contacts-description shapedtheme@gmail.com
     .contact__form-props-contacts-description khalilkode@gmail.com
   .contact__form-forms
    .contact__form-forms-email-text
     input.contact__form-forms-text(type="text" placeholder="!")
     input.contact__form-forms-email(type="text" placeholder="Your E-mail")
    .contact__form-forms-email-text
     input.contact__form-forms-text(type="text" placeholder="Your subject")
     input.contact__form-forms-email(type="text" placeholder="Company name")
    .contact__form-forms-message
     input.contact__form-forms-message(type="text" placeholder="Write your message")
    button.contact__form-forms-button SEND MESSAGE
    span.contact__form-forms-specification * We’ll contact you as as possible. We don’t reply on Monday.


