.footer
 .container.footer__container
  .footer__logo
   img.footer__logo-img(src="../img/footer-logo.png", alt="")
   img.footer__logo-img(src="../img/footer-logo.png", alt="")
   img.footer__logo-img(src="../img/footer-logo.png", alt="")
   img.footer__logo-img(src="../img/footer-logo.png", alt="")
  .line.footer__line
  .footer__description © 2015 Startup, Designed by ShapedTheme