.header
 .container.header__container
  .header__logo Startup
  .header__menu
    label(for="name" class="burger-icon") Menu
    input(id="name" type="checkbox" class="menu-burger")
    .menu
        .header__menu-link Home
        .header__menu-link Services
        .header__menu-link About
        .header__menu-link Works
        .header__menu-link Blog
        .header__menu-link Clients
        .header__menu-link Contact