.works
 .container.works__container
  .works__title LATES WORKS
  .line
  .works__description
   a.works__description-section(href="") All
   a.works__description-section(href="") Branding
   a.works__description-section(href="") Design
   a.works__description-section(href="") Development
   a.works__description-section(href="") Strategy
  .works__level
   img.works__level-img(src="../img/level-1.png", alt="")
   img.works__level-img(src="../img/level-2.png", alt="")
   img.works__level-img(src="../img/level-3.png", alt="")
  .works__level
   img.works__level-img(src="../img/level-4.png", alt="")
   img.works__level-img(src="../img/level-5.png", alt="")
   img.works__level-img(src="../img/level-6.png", alt="")
  .works__level
   img.works__level-img(src="../img/level-7.png", alt="")
   img.works__level-img(src="../img/level-8.png", alt="")
   img.works__level-img(src="../img/level-9.png", alt="")