.about-us {
  padding: 100px 0;
  background-color: #f8f8f8;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    color: #555555;
    font-size: 20px;
  }
  &__description {
    color: #555555;
    font-size: 14px;
    padding-bottom: 70px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__content-left, &__content-right {
    color: #555555;
    font-size: 14px;
    padding-right: 30px;
    padding-bottom: 70px;
  }
  &__members {
    display: flex;
    justify-content: space-between;
  }
  &__members-bloks {
    text-align: center;
    padding-right: 30px;
  }
  &__members-bloks-title {
    color: #555555;
    font-size: 14px;
    padding: 20px 0 15px 0;
  }
  &__members-bloks-description {
    color: #555555;
    font-size: 13px;
  }
}

