.blog {
  padding: 100px 0;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    color: #555555;
    font-size: 20px;
  }
  &__description {
    color: #555555;
    font-size: 14px;
    padding-bottom: 70px;
  }
  &__post {
    display: flex;
    justify-content: space-between;
  }
  &__post-text-title {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 25px;
  }
  &__post-text-title-specification-title {
    font-size: 16px;
    color: #555555;
  }
  &__post-text-title-specification-description {
    color: #555555;
    font-size: 13px;
    padding-top: 20px;
  }
  &__post-img {
    margin-right: 40px;
  }
  &__post-content {
    font-size: 14px;
    color: #555555;
    padding-bottom: 30px;
  }
  &__post-text-title-img {
    margin-right: 30px;
  }
  &__post-read {
    font-size: 13px;
    color: #555555;
  }
  &__post-line {
    height: 1px;
    background-color: #dddddd;
    margin: 40px 0;
    width: 100%;
  }
}
