.clients {
  padding: 100px 0;
  background-color: #f8f8f8;
}
.clients__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.clients__logo-img {
  padding-right: 60px;
}
.clients__description {
  font-size: 18px;
  color: #555555;
  text-align: center;
}
.clients__title {
  font-size: 20px;
  color: #555555;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
}
.clients__slide {
  text-align: center;
}
