.footer {
  padding: 100px 0;
  background-color: #c0301c;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__line {
  background-color: #ffffff;
}
.footer__description {
  color: #ffffff;
  font-size: 12px;
}
.footer__logo-img {
  width: 35px;
  height: 35px;
  margin: 15px;
}
.footer__logo {
  display: flex;
  justify-content: center;
}
