.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}
.header__logo {
  font-size: 24px;
  color: #ffffff;
  padding: 40px 0;
}
.header__menu-link {
  font-size: 16px;
  color: #ffffff;
  margin-right: 20px;
  padding: 40px 0;
  cursor: pointer;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  justify-content: center;
}
